* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

:root {
  --primary-text-color: #aba9a9;
  --secondary-text-color: #fff;
  --highlight-color: rgb(189, 117, 214);
  --primary-background-color: black;
  --secondary-background-color: #111111;
  --header-color: #161515;
  --track-color: #282626;
  --link-color: #dcdcdc;
  --border-color: rgb(76, 76, 83);

  --space-xxs: 2px;
  --space-xs: 4px;
  --space-sm: 8px;
  --space-btn: 10px;
  --space-md: 13px;
  --space-lg: 24px;
  --space-xl: 50px;
  --space-xxl: 70px;
}

/* Padding Utility Classes */

body {
  color: var(--secondary-text-color);
  background-color: var(--primary-background-color);
  font-family: "Open Sans", sans-serif;
}

header {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: transparent;
  transition: background-color 0.6s ease;
}

header.sticky {
  background-color: var(--header-color);
}

.observer-target {
  height: 1px;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: var(--space-lg);
}

.menu-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.social-wrapper,
.menu-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: medium;
}

.fa-brands:hover {
  color: var(--highlight-color);
  transition: color 0.6s ease;
}

/* .logotype {
  font-size: 30px;
  text-align: center;
  flex: 1;
  left: -50%;
} */

.page-title {
  font-size: clamp(50px, 8vw, 120px);
  font-weight: 700;
  line-height: 50px;
  font-family: "Roboto", sans-serif;
  margin-bottom: var(--space-sm);
  color: var(--highlight-color);
  text-shadow: var(--primary-background-color) 1px 0 30px;
}

.page-sub-title {
  font-size: clamp(30px, 5vw, 60px);
}

/* #review-title {
  margin-top: 30px;
} */

.section-text,
.review-text {
  color: var(--primary-text-color);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 23px;
  margin: 30px 0;
}

.review-text {
  color: var(--secondary-text-color);
  font-style: italic;
}

.highlight-text {
  color: var(--highlight-color);
}

.title-wrapper #review {
  padding: var(--space-md); /*funkar ej*/
  position: relative; /* Ensure it establishes a new stacking context */
  z-index: 2; /* Set above the pseudo-element overlay */
}

.section-title {
  font-size: clamp(30px, 4vw, 37px);
  font-weight: 700;
  line-height: 40px;
  font-family: "Open Sans", sans-serif;
  z-index: 2; /* Make sure it sits above the overlay */
  position: relative; /* Ensures z-index is effective */
}

.section-sub-title {
  font-size: clamp(14px, 4vw, 16px);
  text-transform: uppercase;
  padding: var(--space-xs);
}

.section-sub-title,
.blog-title,
.blog-sub-title,
.event-title {
  line-height: 24px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  letter-spacing: 4px;
}

.header,
.page-title,
.section-title,
.section-sub-title {
  text-align: center;
}

/*** icons ***/
.fa-xmark,
.fa-bag-shopping,
.fa-instagram,
.fa-facebook {
  display: none;
  cursor: pointer;
}

.fa-magnifying-glass {
  cursor: pointer;
}

.fa-angles-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  font-size: 30px;
}

/* Button Styles */

.hamburger-btn,
.close-btn {
  position: absolute;
  top: 0;
  right: 2px;
  z-index: 50;
  border: none;
  cursor: pointer;
  align-items: center;
  margin-left: 20px;
  background: transparent;
  color: var(--secondary-text-color);
}

.hamburger-btn {
  display: flex;
  font-size: 18px;
  transition: 0.4s ease;
}

.close-btn {
  display: none;
  font-size: 22px;
  transition: 0.4s ease;
}

.hamburger-btn.active {
  display: none;
}

.close-btn.active {
  display: block;
}

.fa-magnifying-glass,
.fa-bag-shopping {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

/* Menu Styles */
.hamburger-menu-wrapper {
  background-color: var(--header-color);
  position: absolute;
  width: 100%;
  transform: translateX(100%);
  top: 0;
  right: 0;
  display: block;
  transition: transform 0.7s ease;
  z-index: 5;
}

.hamburger-menu-wrapper.active {
  transform: translateX(0);
}

.hamburger-menu {
  background-color: var(--header-color);
  padding: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.hamburger-menu-wrapper ul {
  list-style: none;
  padding: 0 23px;
  margin: 70px 0;
}

.hamburger-menu li {
  text-align: left;
  padding: 15px 15px 5px 15px;
  border-bottom: solid 1px var(--border-color);
  line-height: 35px;
  cursor: pointer;
}

.hamburger-menu a {
  text-decoration: none;
  color: var(--secondary-text-color);
}

.hamburger-menu-wrapper ul li a.highlight-text {
  color: var(--highlight-color);
}

.hamburger-menu-wrapper ul li a:hover {
  color: var(--highlight-color);
}

.hamburger-menu-sub {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0 !important;
  padding-left: 20px;
}

.hamburger-menu-sub > :last-child {
  border-bottom: none;
}

.menu-item {
  font-size: clamp(17px, 4vw, 23px);
}

.menu-item > a,
.menu-item-sub > a {
  text-decoration: none;
  color: var(--secondary-text-color);
}

.menu-item-sub {
  font-size: clamp(13px, 4vw, 19px);
}

.show-submenu .hamburger-menu-sub {
  display: block;
}

/* .menu-item.visible > .hamburger-menu-sub {
  display: block;
  max-height: 200px; 
}

/******************************** MAIN ********************************/
/*Ta bort section wrapper? o bara ha outer-wrapper*/
/*
.outer-wrapper {
  max-width: 1170px;
  margin: 0 auto;
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 2560px;
  margin: 0 auto; 
}*/

.section-wrapper {
  background-color: var(--secondary-background-color);
  width: 100%;
  padding: var(--space-xl) 0;

  /*  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; */
}

.inner-wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--space-md);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  color: var(--secondary-text-color);
}

.section-title,
.section-sub-title {
  z-index: 2;
}

.intro {
  padding-top: 421px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("images/consert2.jpg");
  background-color: var(--primary-background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}

.music-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.music-image {
  width: 100%;
}

.music-wrapper > p {
  /* line-height: 24px; */
  margin: 30px 0;
}

.track-wrapper {
  background-color: var(--track-color);
  padding: 12px 20px;
  width: 100%;
  margin-bottom: 3px;
}

.track-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
}

.track-title {
  padding: 10px 0;
  margin: 0 0 0 7px;
  /* font-family: open sanse; */
  font-size: 14px;
}

#play-pause {
  color: var(--secondary-text-color);
  background: transparent;
  border: none;
  padding: 0 10px 0;
}

.time-stamp {
  font-size: small;
}
.progress-container {
}

#progress {
}

.music-player {
  display: flex;
  flex-direction: row;
  border: 30px solid;
}

.music-wrapper {
}

.event-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 97%;
  padding: 20px 0;
  color: var(--primary-text-color);
  border-bottom: solid 0.5px var(--border-color);
  cursor: pointer;
}

.event-wrapper p {
  margin: 0 0 10px 0;
}

.event-title {
  text-transform: uppercase;
  font-weight: 500;
}

.section-text,
.event-title {
  transition: color 1s ease;
}

.event-wrapper:hover .section-text,
.event-wrapper:hover .event-title {
  color: var(--secondary-text-color);
}

.photo-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: var(--space-xl);
  cursor: pointer;

  /*  grid-gap: 24px;
  margin: 0 auto;
  max-width: 1440px;
  padding: 40px 0;
  justify-content: center;*/
}

.photos-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.video-wrapper {
  display: flex;
  justify-content: center;
}

iframe {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  width: 700px;
  height: 455px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  overflow-x: auto;
  width: 100%;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  /* background-color: rgba(255, 192, 203, 0.8); */
  z-index: 2;
}

.review-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;
  justify-content: center;
  margin: 0 5px;
  color: var(--secondary-text-color);
}

#reviews {
  position: relative;
  background: url("images/consert3.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
  overflow: hidden;
}

#reviews::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 0;
}

.navigation-wrapper {
  display: flex;
  flex-direction: row;
  padding: 30px;
  align-items: center;
  justify-content: center;
  z-index: 2;
  margin-top: var(--space-lg);
}

.circle {
  width: 10px;
  height: 10px;
  margin: 12px;
  border-radius: 10px;
  background-color: var(--secondary-text-color);
}

.active-circle {
  background-color: var(--highlight-color);
}

.blog-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  z-index: 2;
  display: flex;
  flex-wrap: wrap; /* Allow blog posts to wrap if needed */
  overflow: hidden; /* Prevents children from overflowing */
}

.blog-post {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 400px;
  object-fit: cover;
  padding: 60px 30px;
  position: relative;
  color: var(--secondary-text-color);
  background-color: var(--track-color);
  transform: scale(1); /* Start at scale 1 */
  transition: transform 0.3s ease; /* Smooth transition */
  box-sizing: border-box;
  overflow: hidden;
}

#blog1 {
  background: url("images/organ.jpg") no-repeat center center;
  background-size: cover;
}

#blog3 {
  background: url("images/piano.jpg") no-repeat center center;
  background-size: cover;
}

.blog-post:hover {
  transform: scale(1.05); /* Scale up slightly on hover */
}

/* Overlay effect for blog1 and blog3 */
#blog1::before,
#blog3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Adjust opacity for readability */
  z-index: 1;
}

/* Adjust text placement above overlay */
#blog1 h2,
#blog1 h3,
#blog1 p,
#blog3 h2,
#blog3 h3,
#blog3 p {
  position: relative; /* Position relative to sit above the overlay */
  z-index: 2; /* Higher z-index to appear above the overlay */
}

.blog-title {
  font-size: 22px;
  padding: var(--space-md);
  text-transform: uppercase;
  transition: 0.4s ease;
  cursor: pointer;
}

.blog-title:hover {
  color: var(--highlight-color);
}

.blog-sub-title {
  font-size: 18px;
  padding: 0 0 var(--space-md) 0;
  font-style: italic;

  /* line-height: 24px;
  font-weight: 300;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: var(--space-md); */
}

.btn {
  display: inline-block;
  width: auto;
  border: solid var(--secondary-text-color) 0.5px;
  padding: var(--space-btn);
  margin: 0 0 30px !important;
  text-decoration: none;
  color: var(--link-color);
  text-transform: uppercase;
  font-size: 11px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
}

.btn:hover {
  background-color: var(--highlight-color);
  transition: background-color 0.6s ease;
  border: solid 0.5px var(--highlight-color);
}

button.btn,
.left {
  align-self: flex-start;
  /* line-height: 0; */
  margin: 0;
  padding: var(--space-btn);
}

.btn > a {
  text-decoration: none;
  color: inherit; /* Use the inherited color */
  display: inline-block; /* Make the link behave like a block-level element */
  width: 100%; /* Ensure the anchor fills the parent element */
  height: 100%; /* Ensure the anchor fills the parent element */
  text-align: center;
  /* line-height: 1; Ensure text alignment within the link */
}

.title-wrapper {
  padding: var(--space-xxl);
}

.section-title {
  text-align: center;
  /* margin: var(--space-header) 0; */
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 100%;
  max-width: 700px;
}

.form-group {
  display: flex;
  flex-direction: column;
  color: var(--primary-text-color);
}

.form-group label {
  margin-bottom: 8px;
  font-size: 12px;
  /* font-weight: bold; */
}

.form-group input,
.form-group textarea {
  padding: var(--space-sm);
  border: solid 0.5px var(--border-color);
  background-color: transparent;
  outline: none;
  color: var(--secondary-text-color);
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.contact-input:focus {
  border: solid 0.5px var(--highlight-color);
}

.contact-input:hover {
  background-color: rgb(189, 117, 214, 0.2);
  transition: background-color 0.4s ease;
}

#message {
  min-height: 250px;
}

/******************************** TABLET ********************************/

@media only screen and (width >= 700px) {
  .menu-wrapper,
  .social-wrapper {
    gap: 26px;
    font-size: larger;
  }

  .photo-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .event-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .hamburger-menu-wrapper {
    width: 300px;
  }

  .hamburger-menu li {
    border-bottom: none;
  }

  .event-wrapper p {
    flex: 1;
    text-align: center;
    margin: 0;
  }

  .blog-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/******************************** WEB ********************************/

@media only screen and (width >= 1305px) {
  .menu-wrapper,
  .social-wrapper {
    gap: 26px;
    font-size: larger;
  }

  .fa-twitter,
  .fa-instagram,
  .fa-facebook,
  .fa-bag-shopping {
    display: flex;
  }

  .hamburger-menu {
    height: 100vh;
    padding-top: 7%;
    padding-left: 20%;
  }

  .page-title {
    margin-bottom: var(--space-lg);
  }

  .section-wrapper {
    padding: var(--space-xxl) 0;
  }

  .section-sub-title {
    padding: var(--space-sm);
  }

  .intro {
    padding-top: 621px;
  }

  .fa-angles-down {
    padding-top: 400px;
    font-size: 40px;
  }

  .music-container {
    flex-direction: row;
    align-items: strech;
  }
  /*
  .music-player-wrapper {
    width: 50%;
  }
*/

  .music-image {
    width: 50%;
  }

  .photo-wrapper {
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: center;
    align-items: center;
    border: solid red; */
    /* padding: 80px 0; */
  }

  .review-wrapper {
    max-width: 500px; /* Maximum width for larger screens */
  }

  .review-group {
    margin: 0 10px; /* Increase spacing for larger screens */
  }

  .blog-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
