@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

:root {
  /* Primary Colors */
  --color-primary-text: #aba9a9;
  --color-secondary-text: #fff;
  --color-highlight: #bd75d6;

  /* Background Colors */
  --color-bg-primary: black;
  --color-bg-secondary: #111;
  --color-bg-header: #161515;
  --color-bg-track: #282626;

  /* Accent Colors */
  --color-link: #dcdcdc;
  --color-border: #4c4c53;

  /* Font Sizes */
  --font-size-page-title: clamp(50px, 8vw, 120px);
  --font-size-page-title-sub: clamp(19px, 4vw, 50px);
  --font-size-section-title: clamp(30px, 4vw, 37px);
  --font-size-blog-title: 22px;
  --font-size-sub-title: clamp(14px, 4vw, 16px);
  --font-size-menu-item: clamp(17px, 4vw, 23px);
  --font-size-menu-item-sub: clamp(13px, 4vw, 19px);

  --space-xxs: 2px;
  --space-xs: 4px;
  --space-sm: 8px;
  --space-btn: 10px;
  --space-md: 13px;
  --space-lg: 24px;
  --space-lgg: 30px;
  --space-xl: 50px;
  --space-xxl: 70px;
  --space-xxxl: 130px;
}

body {
  color: var(--color-secondary-text);
  background-color: var(--color-bg-primary);
  font-family: "Open Sans", sans-serif;
}

header {
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 4;
  background-color: transparent;
  transition: background-color 0.6s ease;
}

header.sticky {
  background-color: var(--color-bg-header);
}

.observer-target {
  height: 1px;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: var(--space-lg);
}

.menu-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.social-wrapper,
.menu-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: medium;
}

/* .logotype {
  font-size: 30px;
  text-align: center;
  flex: 1;
  left: -50%;
} */

/*** Menu Styles ***/

.hamburger-menu-wrapper {
  background-color: var(--color-bg-header);
  position: absolute;
  width: 100%;
  transform: translateX(100%);
  top: 0;
  right: 0;
  display: block;
  transition: transform 0.7s ease;
  z-index: 5;
}

.hamburger-menu-wrapper.active {
  transform: translateX(0);
}

.hamburger-menu {
  background-color: var(--color-bg-header);
  width: 100%;
  margin: 0;
  padding: 0;
}

.hamburger-menu-wrapper ul {
  list-style: none;
  padding: 0 var(--space-lg);
  margin: var(--space-xxl) 0;
}

.hamburger-menu li {
  text-align: left;
  padding: 15px 15px 5px;
  border-bottom: solid 1px var(--color-border);
  line-height: 35px;
  cursor: pointer;
}

.hamburger-menu a {
  text-decoration: none;
  color: var(--color-secondary-text);
}

.hamburger-menu-wrapper ul li a.highlight-text {
  color: var(--color-highlight);
}

.hamburger-menu-wrapper ul li a:hover {
  color: var(--color-highlight);
}

.hamburger-menu-sub {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0 !important;
  padding-left: var(--space-lg);
}

.hamburger-menu-sub > :last-child {
  border-bottom: none;
}

.menu-item {
  font-size: var(--font-size-menu-item);
}

.menu-item-sub {
  font-size: var(--font-size-menu-item-sub);
}

.menu-item > a,
.menu-item-sub > a {
  text-decoration: none;
  color: var(--color-secondary-text);
}

.show-submenu .hamburger-menu-sub {
  display: block;
}

/*** Hamburger buttons ***/

.hamburger-btn,
.close-btn {
  position: absolute;
  top: 0;
  right: 2px;
  z-index: 6;
  border: none;
  cursor: pointer;
  align-items: center;
  margin-left: var(--space-lg);
  background: transparent;
  color: var(--color-secondary-text);
}

.hamburger-btn {
  display: flex;
  font-size: 18px;
  transition: 0.4s ease;
}

.close-btn {
  display: none;
  font-size: 22px;
  transition: 0.4s ease;
}

.hamburger-btn.active {
  display: none;
}

.close-btn.active {
  display: block;
}

/*** Text and titles ***/

.page-title {
  font-size: var(--font-size-page-title);
  font-weight: 700;
  line-height: 50px;
  font-family: Roboto, sans-serif;
  margin-bottom: var(--space-sm);
  color: var(--color-highlight);
  text-shadow: var(--color-bg-primary) 1px 0 30px;
}

.page-sub-title {
  font-size: var(--font-size-page-title-sub);
}

.section-text,
.review-text {
  color: var(--color-primary-text);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 23px;
  margin: var(--space-lgg) 0;
}

.section-text,
.event-title {
  transition: color 1s ease;
}

.review-text {
  color: var(--color-secondary-text);
  font-style: italic;
}

.highlight-text {
  color: var(--color-highlight);
}

.section-title {
  font-size: var(--font-size-section-title);
  font-weight: 700;
  line-height: 40px;
  font-family: "Open Sans", sans-serif;
  z-index: 2;
  position: relative;
  text-align: center;
}

.section-sub-title {
  font-size: var(--font-size-sub-title);
  text-transform: uppercase;
  padding: var(--space-xs);
}

.section-title,
.section-sub-title {
  z-index: 2;
}

.track-title {
  padding: var(--space-md) 0;
  margin: 0 0 0 var(--space-sm);
  font-size: 14px;
}

.event-title {
  text-transform: uppercase;
}

.blog-title {
  font-size: var(--font-size-blog-title);
  padding: var(--space-md);
  text-transform: uppercase;
  transition: 0.4s ease;
  cursor: pointer;
}

.blog-title:hover {
  color: var(--color-highlight);
}

.blog-sub-title {
  font-size: 18px;
  padding: 0 0 var(--space-md) 0;
  font-style: italic;
}

.section-sub-title,
.blog-title,
.blog-sub-title,
.event-title {
  line-height: 24px;
  font-family: Oswald, sans-serif;
  letter-spacing: 4px;
}

.header,
.page-title,
.section-title,
.section-sub-title {
  text-align: center;
}

/*** Icons ***/

.fa-xmark,
.fa-bag-shopping,
.fa-instagram,
.fa-facebook {
  display: none;
  cursor: pointer;
}

.fa-magnifying-glass {
  cursor: pointer;
}

.fa-angles-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  font-size: 30px;
}

.fa-brands:hover {
  color: var(--color-highlight);
  transition: color 0.6s ease;
}

/******************************** MAIN ********************************/

.section-wrapper {
  background-color: var(--color-bg-secondary);
  width: 100%;
  padding: var(--space-xl) 0;
}

.title-wrapper {
  padding: var(--space-xxl);
}

.inner-wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--space-md);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  color: var(--color-secondary-text);
}

.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("images/consert2.jpg");
  background-color: var(--color-bg-primary);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  padding-top: 421px;
}

/*** Music ***/

.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}

.music-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.music-wrapper > p {
  margin: var(--space-lgg) 0;
}

.music-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.track-wrapper {
  background-color: var(--color-bg-track);
  padding: var(--space-md) var(--space-lg);
  width: 100%;
  margin-bottom: var(--space-xs);
}

.track-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: var(--space-md);
}

.play-pause {
  color: var(--color-secondary-text);
  background: transparent;
  border: none;
  padding: 0 var(--space-md) 0;
}

.time-stamp {
  font-size: small;
}

/* 
.progress-container {
}

.progress {
} */

.music-player {
  display: flex;
  flex-direction: row;
  border: 30px solid;
}

/*** Events ***/

.event-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 97%;
  padding: var(--space-md) 0;
  color: var(--color-primary-text);
  border-bottom: solid 0.5px var(--color-border);
  cursor: pointer;
}

.event-wrapper p {
  margin: 0 0 var(--space-md) 0;
}

.event-wrapper:hover .section-text,
.event-wrapper:hover .event-title {
  color: var(--color-secondary-text);
}

/*** Photos ***/

.photo-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: var(--space-xl);
  cursor: pointer;
}

.photos-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/*** Video ***/

.video-wrapper {
  display: flex;
  justify-content: center;
}

iframe {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  width: 700px;
  height: 455px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 10%);
}

/*** Review ***/

.review-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  overflow-x: auto;
  width: 100%;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  z-index: 2;
}

.review-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;
  justify-content: center;
  margin: 0 var(--space-xs);
  color: var(--color-secondary-text);
}

#reviews {
  position: relative;
  background: url("images/consert3.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
  overflow: hidden;
}

#reviews::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 80%);
  z-index: 0;
}

.navigation-wrapper {
  display: flex;
  flex-direction: row;
  padding: var(--space-lgg);
  align-items: center;
  justify-content: center;
  z-index: 2;
  margin-top: var(--space-lg);
}

.circle {
  width: 10px;
  height: 10px;
  margin: var(--space-md);
  border-radius: 10px;
  background-color: var(--color-secondary-text);
}

.active-circle {
  background-color: var(--color-highlight);
}

/*** News ***/

.blog-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  z-index: 2;
  overflow: hidden;
}

#news {
  padding-bottom: var(--space-xxxl);
}

.blog-post {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 400px;
  object-fit: cover;
  padding: var(--space-xl) var(--space-lgg);
  position: relative;
  color: var(--color-secondary-text);
  background-color: var(--color-bg-header);
  transform: scale(1);
  transition: transform 0.3s ease;
  box-sizing: border-box;
  overflow: hidden;
}

#blog1 {
  background: url("images/organ.jpg") no-repeat center center;
  background-size: cover;
}

#blog3 {
  background: url("images/piano.jpg") no-repeat center center;
  background-size: cover;
}

.blog-post:hover {
  transform: scale(1.05);
}

#blog1::before,
#blog3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 60%);
  z-index: 1;
}

#blog1 h2,
#blog1 h3,
#blog1 p,
#blog3 h2,
#blog3 h3,
#blog3 p {
  position: relative;
  z-index: 2;
}

/*** Button ***/

.btn {
  display: inline-block;
  width: auto;
  border: solid var(--color-secondary-text) 0.5px;
  padding: var(--space-btn);
  margin: 0 0 var(--space-lgg) !important;
  text-decoration: none;
  color: var(--color-link);
  text-transform: uppercase;
  font-size: 11px;
  font-family: Oswald, sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
}

.btn:hover {
  background-color: var(--color-highlight);
  transition: background-color 0.6s ease;
  border: solid 0.5px var(--color-highlight);
}

button.btn,
.left {
  align-self: flex-start;
  margin: 0;
  padding: var(--space-btn);
}

.btn > a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}

/*** Contact ***/

.contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 100%;
  max-width: 700px;
}

.form-group {
  display: flex;
  flex-direction: column;
  color: var(--color-primary-text);
}

.form-group label {
  margin-bottom: var(--space-sm);
  font-size: 12px;
}

.form-group input,
.form-group textarea {
  padding: var(--space-sm);
  border: solid 0.5px var(--color-border);
  background-color: transparent;
  outline: none;
  color: var(--color-secondary-text);
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.contact-input:focus {
  border: solid 0.5px var(--color-highlight);
}

.contact-input:hover {
  background-color: rgb(189 117 214 20%);
  transition: background-color 0.4s ease;
}

#message {
  min-height: 250px;
}

/******************************** TABLET ********************************/

@media only screen and (width >= 700px) {
  .menu-wrapper,
  .social-wrapper {
    gap: 26px;
    font-size: larger;
  }

  .photo-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .event-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger-menu-wrapper {
    width: 300px;
  }

  .hamburger-menu li {
    border-bottom: none;
  }

  .event-wrapper p {
    flex: 1;
    text-align: center;
    margin: 0;
  }

  .blog-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/******************************** WEB ********************************/

@media only screen and (width >= 1305px) {
  .menu-wrapper,
  .social-wrapper {
    gap: 26px;
    font-size: larger;
  }

  .fa-twitter,
  .fa-instagram,
  .fa-facebook,
  .fa-bag-shopping {
    display: flex;
  }

  .hamburger-menu {
    height: 100vh;
    padding-top: 7%;
    padding-left: 20%;
  }

  .page-title {
    margin-bottom: var(--space-lg);
  }

  .section-wrapper {
    padding: var(--space-xxl) 0;
  }

  .section-sub-title {
    padding: var(--space-sm);
  }

  .intro {
    padding-top: 621px;
  }

  .fa-angles-down {
    padding-top: 400px;
    font-size: 40px;
  }

  .music-container {
    flex-direction: row;
    align-items: stretch;
  }

  /*
  .music-player-wrapper {
    width: 50%;
  }
*/

  .music-image {
    width: 50%;
    object-fit: cover;
    height: 100%;
  }

  .photo-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .review-wrapper {
    max-width: 500px;
  }

  .review-group {
    margin: 0 var(--space-btn);
  }

  .blog-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
